
.contain-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.contain-category span {
  margin: 10px;
  color: #ffffff;
  cursor: pointer;
}

.allCategory {
  font-size: 22px;
}
@media  (max-width: 1000px) {

  .contain-category span {
    font-size: 12px;
  }
}